<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Transfert de fichiers</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>

</head>
<body>
<div id="debg_count">
     <div id="logout-bt">
       <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='/logout'">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
  </div> 
    <span class="dbg_nbr">  </span> <span class="dbg_nbr2">  </span><span class="dbg_percent"></span>
  </div>  
  <div class="container">

 
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <h2>Envoyer des fichiers photos ou video</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
              <div id ="fileInfo">
            <div id ="fileInfo1" class="file-info" ></div>
            <div id ="fileInfo2" class="file-info" ></div>

            </div>
            <button id="uplBtn" disabled class="btn btn-lg upload-btn" type="button">Charger des fichier</button> 
           
            <button id="sendBtn" disabled class="btn btn-lg upload-btn" type="button">Envoyer les fichier</button> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script>
</body>
</html>
